* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    touch-action: manipulation;
    overflow-x: hidden;
}

.head-parent {
    max-width: 768px;
    margin: auto;
}

.bottom-navbar-parent {
    height: 5rem;
    border-top: 1px solid #d9d9d9;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    line-height: 80px;
}

.btn-nav {
    cursor: pointer;
    padding: 10px 40px;
}

input:checked~.btn-nav {
    background: #ABD2FA;
    border-radius: 100px;
}

.text-primary-color {
    color: #091540;
}

.outline-primary {
    border: 1px solid #091540;
    border-radius: 100px;
    background-color: white;
    padding: .3rem 1rem;
    font-size: .8rem;
    color: #091540;
}