* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    touch-action: manipulation;
    overflow-x: hidden;
}

.head-parent {
    max-width: 768px;
    margin: auto;
}

.display-none {
    display: none;
}

.bottom-navbar-parent {
    height: 8vh;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border-top: 1px solid #d9d9d9;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    line-height: 80px;
}

.btn-nav {
    cursor: pointer;
    padding: 10px 40px;
}

input:checked~.btn-nav {
    background: #ABD2FA;
    border-radius: 100px;
}