.bb {
    border: 2px solid #ededed;
}

.btn-save{
    background-color: #091540;
    color: white;
}

.profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
}