.categories button {
  border: 1px solid #091540;
  border-radius: 100px;
  background-color: transparent;
  padding: .3rem 1rem;
  color: #091540;
}

.info-parent button {
  border: 1px solid #091540;
  border-radius: 100px;
  background-color: transparent;
  padding: .1rem 1rem;
}

.carousel-inner {
  border-radius: 1rem;
}

.c-img {
  border-radius: 1rem;
  filter: brightness(0.5);
}